<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Android: Netrunner - Deckbuilder</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		{% load bootstrap3 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		{% bootstrap_messages %}

		{% load staticfiles %}
		{% load preview_extras %}
	</head>
	<body>
		<div class="message">
			<div style="padding: 5px;">
				<div id="alert-message" class="alert alert-info" role="alert">
				</div> <!-- alert-message -->
			</div> <!-- padding -->
		</div> <!-- message -->

		<h1>Deckbuilder</h1>
		{% if runners %}
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							Identity
							</a>
						</h4>
					</div> <!-- panel-heading -->
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							{% for group in runner_identities|group_by:4 %}
							<div class="row">
								{% for card in group %}
									{% with "cards/"|add:card.code|add:".png" as card_path %}
									<div class="col-xs-6 col-sm-3">
										<a href="#" class="thumbnail" data-code="{{ card.code }}" data-title="{{ card.title }}">
											<img src="{% static card_path %}"/>
										</a>
									</div>
									{% endwith %}
								{% endfor %}
							</div> <!-- row -->
							{% endfor %}
						</div> <!-- panel-body -->
					</div> <!-- collapseOne -->
				</div> <!-- panel -->

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
							Events
							</a>
						</h4>
					</div> <!-- panel-heading -->
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							{% for group in runner_events|group_by:4 %}
							<div class="row">
								{% for card in group %}
									{% with "cards/"|add:card.code|add:".png" as card_path %}
									<div class="col-xs-6 col-sm-3">
										<a href="#" class="thumbnail" data-code="{{ card.code }}" data-title="{{ card.title }}">
											<img src="{% static card_path %}"/>
										</a>
									</div>
									{% endwith %}
								{% endfor %}
						</div> <!-- row -->
						{% endfor %}
					</div> <!-- panel-body -->
				</div> <!-- collapseTwo -->
			</div> <!-- panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						Hardware
						</a>
					</h4>
				</div> <!-- panel-heading -->
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						{% for group in runner_hardwares|group_by:4 %}
						<div class="row">
							{% for card in group %}
								{% with "cards/"|add:card.code|add:".png" as card_path %}
								<div class="col-xs-6 col-sm-3">
									<a href="#" class="thumbnail" data-code="{{ card.code }}" data-title="{{ card.title }}">
										<img src="{% static card_path %}"/>
									</a>
								</div>
								{% endwith %}
							{% endfor %}
						</div> <!-- row -->
						{% endfor %}
					</div> <!-- panel-body -->
				</div> <!-- collapseThree -->
			</div> <!-- panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						Programs
						</a>
					</h4>
				</div> <!-- panel-heading -->
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						{% for group in runner_programs|group_by:4 %}
						<div class="row">
							{% for card in group %}
								{% with "cards/"|add:card.code|add:".png" as card_path %}
								<div class="col-xs-6 col-sm-3">
									<a href="#" class="thumbnail" data-code="{{ card.code }}" data-title="{{ card.title }}">
										<img src="{% static card_path %}"/>
									</a>
								</div>
								{% endwith %}
							{% endfor %}
						</div> <!-- row -->
						{% endfor %}
					</div> <!-- panel-body -->
				</div> <!-- collapseFour -->
			</div> <!-- panel -->
		</div> <!-- panel group -->
	{% else %}
		<p>No cards available.</p>
	{% endif %}

	<script type="text/javascript">
		var cards = {};
		var deck = {
			arr: [],
			addToDeck: function(card) {
				this['arr'].push(card);
			}
		};
		
		// push runners into a cards object indexed by code
		$(document).ready(function(){
			// get runners from template
			var runners = {{ runners|safe }};

			$.each(runners, function(index, value){
				cards[value['code']] = value;
			});
		});

		$(".thumbnail").on("click", function() {
			var card = $(this);

			deck.addToDeck(cards[card.attr('data-code')]);
			$("#alert-message").html("Added " + card.attr('data-title'));
		});
	</script>
	</body>
</html>