<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Android: Netrunner - Deckbuilder</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
		<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
		{% load bootstrap3 %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		{% bootstrap_messages %}

		{% load staticfiles %}
		{% load preview_extras %}
	</head>
	<body>
		<div class="container-fluid">
			<h1>Deckbuilder</h1>
			<div class="row">
				<div class="col-md-9">
					<div class="panel-group" id="CardAccordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#CardAccordion" href="#collapseRun">
									Runner
									</a>
								</h4>
							</div> <!-- panel-heading -->
							<div id="collapseRun" class="panel-collapse collapse in">
								<div class="panel-body">
									<table id="runner_table" class="display">
									</table>
								</div> <!-- panel-body -->
							</div> <!-- collapseRun -->
						</div> <!-- panel -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#CardAccordion" href="#collapseCor">
									Corporation
									</a>
								</h4>
							</div> <!-- panel-heading -->
							<div id="collapseCor" class="panel-collapse collapse">
								<div class="panel-body">
									<table id="corp_table" class="display">
									</table>
								</div> <!-- panel-body -->
							</div> <!-- collapseCor -->
						</div> <!-- panel -->
					</div> <!-- panel-group -->
				</div>
				<div class="col-md-3">
					<div class="col-sm-12">
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapsePreview">
										Preview
										</a>
									</h4>
								</div> <!-- panel-heading -->
								<div id="collapsePreview" class="panel-collapse collapse in">
									<div class="panel-body">
										<a href="#" class="thumbnail">
											<img src="#" id="cardView"/>
										</a>
									</div> <!-- panel-body -->
								</div> <!-- collapsePreview -->
							</div> <!-- panel -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="accordion" href="#collapseRunner">
										Runner Deck
										</a>
									</h4>
								</div> <!-- panel-heading -->
								<div id="collapseRunner" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="list-group" id="runner_deck">
										</ul>
										<button type="button" class="btn btn-primary" id='download'>Download Deck</button>
										<button type="button" class="btn btn-danger" id='clear'>Clear Deck</button>
									</div> <!-- panel-body -->
								</div> <!-- collapseRunner -->
							</div> <!-- panel -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="accordion" href="#collapseCorp">
										Corp Deck
										</a>
									</h4>
								</div> <!-- panel-heading -->
								<div id="collapseCorp" class="panel-collapse collapse">
									<div class="panel-body">
										<ul class="list-group" id="corp_deck">
										</ul>
									</div> <!-- panel-body -->
								</div> <!-- collapseCorp -->
							</div> <!-- panel -->
						</div> <!-- panel-group -->
					</div>
				</div>
			</div>
		</div> <!-- container -->

		<script>
			var runners = {{ runners|safe }},
				corps = {{ corps|safe }},
				cards = {};

			var addToList = function(title, list_id) {
				var card = cards[title];
				$(list_id).append("<li class='list-group-item'>" + card.title + "</li>");
				$(".list-group-item").click(function(){
					// TODO: hack, refactor asap.
					if (list_id == '#runner_deck') {
						runnerDeck.removeFromDeck(title);
					}
					$(this).remove();
				});
			};

			var runnerDeck = {
				'faction': '',
				'influence': 0,
				'influence_max': 100,
				'identity': '',
				clearDeck: function() {
					// clear runner deck
					$('#runner_deck').html('');
					for (key in this) {
						delete this[key];
					}
					this.identity = '';
					this.influence = 0;
					this.influence_max = 100;
					this.faction = '';
				},
				removeFromDeck: function(title) {
					if (title in this) {
						if (this[title] == 1) {
							if (cards[title]['type_code'] == 'identity') {
								this.faction = '';
								this.influence_max = 0;
								this.identity = '';
							}
							delete this[title];
							this.influence -= cards[title]['factioncost'];
						}
						else {
							this[title]--;
							this.influence -= cards[title]['factioncost'];
						}
					}
					console.log('Influence total: ' + this.influence);
				},
				addToDeck: function(title) {
					if (title in this) {
						if (cards[title]['type_code'] == 'identity') {
							alert('1 identity per deck!');
						}
						else if (this[title] + 1 > cards[title]['quantity']) {
							alert('Maximum of ' + cards[title]['quantity'] + '  such card(s) per deck');
						}
						else {
							if (cards[title]['faction'] != this.faction) {
								if (this.influence + cards[title]['factioncost'] > this.influence_max) {
									alert('Exceeded influence limit!');
								}
								else {
									addToList(title, "#runner_deck");
									this.influence += cards[title]['factioncost'];
									this[title]++;
								}
							}
							else {
								addToList(title, "#runner_deck");
								this[title]++;
							}
						}
					}
					else {
						if (cards[title]['type_code'] == 'identity') {
							this.faction = cards[title]['faction'];
							this.influence_max = cards[title]['influencelimit'];
							this.identity = title;
							addToList(title, "#runner_deck");
							this[title] = 1;
						}
						else if (cards[title]['faction'] != this.faction){
							if (this.influence + cards[title]['factioncost'] > this.influence_max) {
								alert('Exceeded influence limit!');
							}
							else {
								this.influence += cards[title]['factioncost'];
								addToList(title, "#runner_deck");
								this[title] = 1;
							}
						}
						else {
							addToList(title, "#runner_deck");
							this[title] = 1;
						}
					}
					console.log('Influence total: ' + this.influence);
				},
				printDeck: function(title) {
					console.log(this.identity);
					for (key in this) {
						if (key != this.identity) {
							console.log(this[key] + 'x ' + key);
						}
					}
				}
			}, corpDeck = {};

			$(document).ready(function() {
				// initialization, data
				$.each(runners, function(index, value){
					cards[value['title']] = value;
				});

				$.each(corps, function(index, value){
					cards[value['title']] = value;
				});

				var table = $('#runner_table').DataTable({
					'data': runners,
					'columns': [
						{ 'data': 'title', 'title': 'Title'},
						{ 'data': 'faction', 'title': 'Faction'},
						{ 'data': 'card_type', 'title': 'Type'},
						{ 'data': 'subtype', 'title': 'Subtype'},
						{ 'data': 'cost', 'title': 'Cost'},
						{ 'data': 'code', 'visible': false, 'searchable': false}
					]
				});

				$('#corp_table').DataTable({
					'data': corps,
					'columns': [
						{ 'data': 'title', 'title': 'Title'},
						{ 'data': 'faction', 'title': 'Faction'},
						{ 'data': 'card_type', 'title': 'Type'},
						{ 'data': 'subtype', 'title': 'Subtype'},
						{ 'data': 'cost', 'title': 'Cost'},
						{ 'data': 'code', 'visible': false, 'searchable': false}
					]
				});

				Object.defineProperty(runnerDeck, 'faction', {
					enumerable: false
				});

				Object.defineProperty(runnerDeck, 'identity', {
					enumerable: false
				});

				Object.defineProperty(runnerDeck, 'influence', {
					enumerable: false
				});

				Object.defineProperty(runnerDeck, 'influence_max', {
					enumerable: false
				});

				Object.defineProperty(runnerDeck, 'removeFromDeck', {
					enumerable: false
				});

				Object.defineProperty(runnerDeck, 'addToDeck', {
					enumerable: false
				});

				Object.defineProperty(runnerDeck, 'printDeck', {
					enumerable: false
				});

				Object.defineProperty(runnerDeck, 'clearDeck', {
					enumerable: false
				});

				$('.thumbnail').hide();

				// table behaviour (preview)
				$('#runner_table tbody').on('mouseover', 'tr', function(){
					$('.thumbnail').show();
					var title = $('td', this).eq(0).text(),
						card = cards[title],
						path = '/static/cards/' + card['code'] + '.png?1';
					$('#cardView').attr('src', path);
				});

				$('#corp_table tbody').on('mouseover', 'tr', function(){
					$('.thumbnail').show();
					var title = $('td', this).eq(0).text(),
						card = cards[title],
						path = '/static/cards/' + card['code'] + '.png?1';
					$('#cardView').attr('src', path);
				});

				// table behaviour (add to deck)
				$('#runner_table tbody').on('click', 'tr', function() {
					var title = $('td', this).eq(0).text();
					runnerDeck.addToDeck(title);
				});

				$('#corp_table tbody').on('click', 'tr', function() {
					var title = $('td', this).eq(0).text(),
						card = cards[title],
						path = '/static/cards/' + card['code'] + '.png?1';
					$("#corp_deck").append("<li class='list-group-item'>" + card.title + "</li>");
					$(".list-group-item").click(function(){
						$(this).remove();
					});
				});

				// button behaviour
				$('#clear').on('click', function() {
					runnerDeck.clearDeck();
				});

				$('#download').on('click', function() {
					var str = '';
					str += runnerDeck.identity;
					for (key in runnerDeck) {
						str += runnerDeck[key] + 'x ' + key + '\n';
					}
					var blob = new Blob([str], { type: "text/plain"});
					var url = URL.createObjectURL(blob);
					window.location = url;
				});
			});
		</script>
	</body>
</html>